.d-popup-login label.d-inputcheck{margin:0
0 15px}.d-popup-login
span.d_password_reset{float:right;margin:-2px 0 0 0;font-size:11px;line-height:11px}.d-popup-login>div{margin:15px
0 0 0;text-align:center}.d-popup-login .d-or{margin:13px
0 15px;text-align:center}.d-popup-login .d_center
a{margin:0
8px}.d-login-holder{width:359px;margin:0
auto;margin-top:-7px}.d-login-holder
h1{font-family:'Open Sans',sans-serif;font-size:34px;font-weight:300;text-align:center}.d-login-holder .d-login-description{text-align:justify}.d-login-holder input[type="text"], .d-login-holder input[type="password"]{padding:13px
26px 13px 10px !important}.d-login-holder
.d_password_reset{float:right;margin-top:11px}.d-login-holder .d-or{margin:20px
0}.d-login-holder .round-facebook-icon, .d-login-holder .round-google-icon{margin:0
10px}