.d_search_hints_simple{position:absolute;z-index:9000;background:#fff;border:1px
solid #d2d2d2;margin-top:-1px}.d_search_hints_simple
p{margin:0;padding:3px
10px;font-size:16px;cursor:pointer}.d_search_hints_simple p
span{font-weight:bold}.d_search_hints_simple
p.d_selected{background:#f0f0f0}.d_search_hints{position:absolute;width:auto !important;border:1px
solid #D2D2D2;background:#FFF;z-index:9101}.d_search_hints
.d_ptitle{background-color:#F0F0F0;margin:0
0 2px 0;font-size:11px;padding:2px
6px 3px 6px;border-top:1px solid #D2D2D2}.d_search_hints
.d_all_results{display:block;text-align:center;vertical-align:top;text-decoration:none;margin:2px
0 0 0;padding:10px;text-align:center;color:#0395d9;background-color:#f0f0f0;border-top:1px solid #D2D2D2;font-size:11px;font-weight:bold}.d_search_hints .d_all_results
span{padding-right:15px;background:transparent url(/img/sprite/pointer.png) 100% -189px no-repeat}.d_search_hints
.d_photos{margin-bottom:2px}.d_search_hints
.d_item{position:relative;margin:2px;padding:4px
7px 6px 54px;height:40px;border:0;cursor:pointer}.d_search_hints .d_item:nth-child(odd){background:#f0f0f0}.d_search_hints
.d_item_img{position:absolute;top:5px;left:6px;width:38px;height:38px}.d_search_hints .d_item_img
img{top:0 !important;left:0 !important;width:100%;height:100%}.d_search_hints
.d_item.d_selected{border:0;color:#fff;background-color:#6391de}.d_search_hints .d_item
p{padding:2px
0 3px 0;margin:0}.d_search_hints .d_item
p.d_image{margin-bottom:3px;font-weight:bold;color:#3c3c3c}.d_search_hints .d_item p.d_image
span{color:#0395d9}.d_search_hints .d_item.d_selected
p{font-weight:normal}.d_search_hints .d_item.d_selected p.d_image,.d_search_hints .d_item.d_selected p.d_image
span{font-weight:bold;color:#fff}.d_search_hints .d_item
p.d_description{font-size:10px;line-height:11px}.d_search_hints .d_item
.d_seller_level{width:16px;height:16px;background:transparent url(/img/sprite/seller_level.png) 0 0 no-repeat;position:absolute;bottom:14px;right:14px}.d_search_hints .d_item
.d_seller_level0{background-position:0 0}.d_search_hints .d_item
.d_seller_level1{background-position:0 -16px}.d_search_hints .d_item
.d_seller_level2{background-position:0 -32px}.d_search_hints .d_item
.d_seller_level3{background-position:0 -48px}.d_search_hints .d_item
.d_seller_level4{background-position:0 -64px}.d_search_hints
.d_left_search{height:auto}.d_search_hints .d_left_search
.d_image{padding:0}.d_search_hints .d_left_search
p{padding:0}