.d_menu_tabs{display:block;width:100%;height:22px;clear:both;padding:0;margin:0
0 0 0;position:relative;z-index:1000}.d_menu_tabs
li{position:relative;float:left;margin-right:3px;background:#F0F0F0;list-style:none;height:22px}.d_menu_tabs
li.d_active{background:#FFF;border-bottom:1px solid #FFF}.d_menu_tabs
li.d_active.d_gray{background:#F0F0F0;border-bottom:1px solid #F0F0F0;margin-bottom:-1px}.d_menu_tabs
li.d_active.d_white{background:#fff;border-bottom:1px solid #fff}.d_menu_tabs li.d_active
a{color:#3C3C3C}.d_menu_tabs li.d_active a:hover{color:#3C3C3C;cursor:default}.d_menu_tabs li
a{display:block;padding:0
9px;line-height:22px;border:1px
solid #D2D2D2;border-bottom:0;color:#3C3C3C;text-decoration:none}.d_menu_tabs li a:hover{color:#94B010}.d_menu_tabs .looked-new{background:#94B010}.d_menu_tabs .looked-new
a{color:#fff}.d_menu_tabs .looked-new a:hover{color:#fff}.d_menu_tabs .looked-new.simple-tab{background:#f0f0f0}.d_menu_tabs .looked-new.simple-tab
a{color:#3C3C3C}.d_menu_tabs .looked-new.simple-tab a:hover{color:#94B010}.d_menu_tabs li i.new-label{top:-11px;right:-1px}.d_menu_tabs_gray
li{background:none}.d_menu_tabs_gray li:hover
a{color:#94B010}.d_menu_tabs_gray_inverted
li{background:#f0f0f0}.d_menu_tabs_gray_inverted
li.d_active{background:#fff}.d_menu_tabs_white
li{background:#fff}.d_menu_tabs_white
li.d_active{background:#f0f0f0;border-bottom:1px solid #f0f0f0}.d_menu_tabs_white li:hover
a{color:#94B010}.d_menu_tabs_buttons{width:100%;position:relative;border:1px
solid #D2D2D2;padding-top:8px}.d_menu_tabs_buttons3{width:743px;margin:0
auto}.d_menu_tabs_buttons4{width:743px;margin:0
auto}.d_menu_tabs_buttons5{width:744px;margin:0
auto}.d_menu_tabs_buttons6{width:743px;margin:0
auto}.d_menu_tabs_buttons
div.d_menu_tabs_buttons_item{float:left;clear:none;position:relative;padding:0
5px 0 5px;border-right:1px dotted #969696}.d_menu_tabs_buttons
div.d_menu_tabs_buttons_item.d_last{border:0
none;padding:0
0 0 5px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item
a{display:block;padding:49px
0 8px 0;width:100%;background:transparent url(/img/menu_sprites/buyer_menu.png) center 10px no-repeat;color:#3C3C3C;text-align:center;text-decoration:none}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item_simple
a{padding-top:2px;padding-bottom:0;min-height:84px;text-align:left;background:none}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item_simple a
h3{margin-top:0;margin-bottom:2px;padding:3px
5px 0 7px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a:hover,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_item.d_active
a{background-color:#F0F0F0}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a span,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a
i{display:block;clear:both;font-style:normal;text-decoration:none}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a
b{font-weight:normal}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a
span{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a i
span.d_menu_tabs_count{display:inline;clear:both;font-style:normal;text-decoration:none}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item a
i{font-size:11px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item
img{position:absolute;top:1px;right:6px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item.d_active a
span{font-weight:bold}.d_menu_tabs_buttons3
div.d_menu_tabs_buttons_item{width:237px}.d_menu_tabs_buttons4
div.d_menu_tabs_buttons_item{width:175px}.d_menu_tabs_buttons5
div.d_menu_tabs_buttons_item{width:138px}.d_menu_tabs_buttons6
div.d_menu_tabs_buttons_item{width:113px}.d_menu_tabs_bottom_menu{clear:both;border-top:1px solid #D2D2D2;border-bottom:1px solid #D2D2D2;padding:2px
0;margin:8px
0 8px 0;width:100%}.d_menu_tabs_bottom_menu
ul{width:100%;clear:both;display:block;padding:0;margin:0;background:#F0F0F0;height:19px}.d_menu_tabs_bottom_menu ul li.d_active
a{color:#FFF;background-color:#94B010}.d_menu_tabs_buttons3 .d_menu_tabs_bottom_menu
li{min-width:237px}.d_menu_tabs_buttons4 .d_menu_tabs_bottom_menu
li{min-width:175px}.d_menu_tabs_buttons5 .d_menu_tabs_bottom_menu
li{min-width:138px}.d_menu_tabs_buttons6 .d_menu_tabs_bottom_menu
li{width:113px}.d_menu_tabs_bottom_menu
li{list-style:none;margin:2px
0 0 5px;padding:0
5px 0 0;float:left;border-right:1px solid #696969;text-align:center}.d_menu_tabs_bottom_menu li
a{display:block;overflow:hidden;color:#3C3C3C;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;font-style:normal}.d_menu_tabs_bottom_menu li a:hover{color:#FFF;background-color:#94B010}.d_menu_tabs_bottom_menu li.d-last{padding:0;border:0}.d_tips_data.d_lb_info{width:290px;padding:0
5px}.d_tips_data.d_lb_info
h2{margin:3px
0 11px}.d_tips_data.d_lb_info
p{margin:0
0 7px}.d_menu_tabs_buttons_banners{padding-bottom:8px}.d_menu_tabs_buttons_banners div.d_menu_tabs_buttons_item
a{background:none;padding-top:6px;text-align:left;min-height:105px}.d_menu_tabs_buttons_banners div.d_menu_tabs_buttons_item a
h3{margin:6px
0 0 0;padding:0
0 0 7px;font-size:17px;color:#3c3c3c;background:none;font-weight:bold}.d_menu_tabs_buttons_banners div.d_menu_tabs_buttons_item a p,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_item_simple a
p{margin:5px
0 0 0;padding:0
8px;color:#3C3C3C;font-size:11px}.d_menu_tabs_buttons_banners div.d_menu_tabs_buttons_item a span,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_item_simple a
span{color:#94B010}.d_menu_tabs_buttons_banners div.d_menu_tabs_buttons_item a p span,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_item_simple a p
span{display:inline;color:#0395d9}.d_menu_tabs_buttons_banners div.d_menu_tabs_buttons_item a p span:hover,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_item_simple a p span:hover{text-decoration:underline}.d_menu_tabs_buttons_banners
.d_banner_link{position:absolute;bottom:5px;right:8px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_item.d_menu_tabs_buttons_lightbox_favorites:hover
a{background-color:#F0F0F0}.d_menu_tabs_buttons_lightbox_favorites
.d_clearable{display:block;top:0;right:5px;cursor:pointer}.d_menu_tabs_buttons_lightbox_favorites.d_inactive
.d_clearable{display:none}.d_menu_tabs_buttons div.d_menu_tabs_buttons_credits
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_credits.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_subscription
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_subscription.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_buy_sms
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_buy_sms.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_bonus
a{background-position:center -990px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_bonus.d_active
a{background-position:center -1090px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_purchased
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_purchased.d_active
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_invoices
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_invoices.d_active
a{background-position:center -890px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightboxes a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_new a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_search a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_favorites
a{background-image:url(/img/menu_sprites/buyer_lightboxes.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightboxes
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightboxes.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightboxes
b{font-weight:normal}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_new
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_new.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_search
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_search.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_favorites
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_favorites.d_active
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_favorites.d_inactive
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_lightbox_favorites
b{font-weight:normal}.d_menu_tabs_buttons div.d_menu_tabs_buttons_inbox a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_system a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_new a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_sent a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_drafts a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_deleted
a{background-image:url(/img/menu_sprites/buyer_seller_messages.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_inbox
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_inbox.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_system
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_system.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_new
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_new.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_sent
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_sent.d_active
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_drafts
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_drafts.d_active
a{background-position:center -890px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_deleted
a{background-position:center -990px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_deleted.d_active
a{background-position:center -1090px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_public_profile_buyer a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_private_profile_buyer a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_password_profile_buyer
a{background-image:url(/img/menu_sprites/buyer_seller_profile.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_public_profile_buyer
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_public_profile_buyer.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_private_profile_buyer
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_private_profile_buyer.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_password_profile_buyer
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_password_profile_buyer.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referral a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_new_account a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_banners a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_api a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_referals a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_tools a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_stats
a{background-image:url(/img/menu_sprites/buyer_seller_affiliate.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referral a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_new_account
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referral.d_active a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_new_account.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_banners
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_banners.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_api
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_api.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_api.d_inactive
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referals
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referals.d_active
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_tools
a{background-position:center -890px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_tools.d_active
a{background-position:center -990px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_stats
a{background-position:center -1090px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_stats.d_active
a{background-position:center -1190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_online a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_pending a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_uploaded a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_rejected a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_deactivated a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_releases
a{background-image:url(/img/menu_sprites/seller_files.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_online
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_online.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_pending
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_pending.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_uploaded
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_uploaded.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_rejected
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_rejected.d_active
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_deactivated
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_deactivated.d_active
a{background-position:center -890px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_releases
a{background-position:center -990px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_releases.d_active
a{background-position:center -1090px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_sold a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_unsold a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_popular a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_viewed a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_returned a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_payout_report
a{background-image:url(/img/menu_sprites/seller_sales.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_sold
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_sold.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_unsold
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_unsold.d_active
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_popular
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_popular.d_active
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_viewed
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_viewed.d_active
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_returned
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_returned.d_active
a{background-position:center -890px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_payout_report
a{background-position:center -990px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_payout_report.d_active
a{background-position:center -1090px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_table a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_chart a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_mixed a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_excel a,
.d_menu_tabs_buttons div.d_menu_tabs_buttons_referral
a{background-image:url(/img/menu_sprites/seller_stats.png)}.d_menu_tabs_buttons div.d_menu_tabs_buttons_table
a{background-position:center 10px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_table.d_active
a{background-position:center -90px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_chart
a{background-position:center -190px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_chart.d_inactive
a{background-position:center -290px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_mixed
a{background-position:center -390px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_mixed.d_inactive
a{background-position:center -490px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_excel
a{background-position:center -590px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_excel.d_inactive
a{background-position:center -690px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referral
a{background-position:center -790px}.d_menu_tabs_buttons div.d_menu_tabs_buttons_referral.d_active
a{background-position:center -890px}.d_seller_tabs
p{margin:0;padding:0
0 1px 0;font-size:13px}.d_seller_tabs
.d_menu_tabs_buttons{padding:12px
20px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.d_seller_tabs
.d_display_table_td{border-right:1px solid #D2D2D2;padding:0
15px 0 25px;width:150px}.d_seller_tabs .d_display_table_td:last-child{padding-right:0;border:none}.d_seller_tabs
.d_tabs_seller_name{padding:2px;background:url(/img/d_bg_input_seller_name.gif) repeat-x;border:1px
solid #D2D2D2}.d_seller_tabs .d_display_table_td p span, .d_seller_tabs .d_display_table_td p
a{color:#94B010;text-decoration:none}.d_seller_tabs .d_display_table_td p
a.d_red{color:#F00}.d_seller_tabs .d_display_table_td p a:hover{text-decoration:underline}.d_seller_tabs
.d_seller_tab_sold{padding:0
0 0 10px}.d_tax_link_red,.d_tax_link_yellow{color:#fff !important}.d_tax_link_red{background:#f00 !important}.d_tax_link_yellow{background:#fda835 !important}.d_tax_center_reminder{background:#fff;height:25px;width:745px;margin-top:-2px}.d_tax_center_reminder
i{margin-right:7px;margin-bottom:-3px}.d_tax_center_reminder
p{margin:2px
0 0 0;text-align:left;float:left}.d_tax_center_reminder
.d_close{position:relative;float:left;margin:2px
0 0 5px;top:auto;right:auto}.type-icon{margin-top:5px}