.view-item-block.models{margin-top:39px}.view-item-block.series{margin-top:39px}.view-item-block.keywords>label,.view-item-block.categories>label{padding:0
0 6px}.view-item-block>h3,.view-item-block>label{padding:0
0 16px;color:#3c3c3c;background:none;font-size:14px;line-height:16px;font-weight:700}.view-item-block>label{display:block;cursor:text}.view-item-block .items-list{max-height:130px;margin-bottom:-6px;overflow:hidden}.view-item-block .items-list .deposit-item{margin:0
0 24px 17px}.view-item-block .items-list .deposit-item:first-child{margin:0
0 24px 0}.view-item-block .content-list{margin:-5px 0 -2px}.view-item-block .content-list > a,
.view-item-block .content-list>span{line-height:18px;text-decoration:none}.view-item-block .content-list > a .wrapper-keyword,
.view-item-block .content-list > a .wrapper-categories,
.view-item-block .content-list > span .wrapper-keyword,
.view-item-block .content-list > span .wrapper-categories{float:left;height:21px;padding:0
5px 0 5px;margin:10px
5px 0 0;border:1px
solid #d2d2d2;background-color:#fff;color:#3c3c3c;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px}.view-item-block .content-list > a .wrapper-keyword:hover,
.view-item-block .content-list > a .wrapper-categories:hover,
.view-item-block .content-list > span .wrapper-keyword:hover,
.view-item-block .content-list > span .wrapper-categories:hover{background:#969696;border-color:#969696;color:#fff}.view-item-block .content-list>a:hover{text-decoration:none}.view-item-block .content-list
.d_help_icon{display:inline-block}.view-item-block.keywords{margin-top:39px;overflow:hidden}.view-item-block.keywords .content-list{margin-top:0;text-align:justify}.view-item-block.categories{overflow:hidden;clear:both;margin:39px
0 0 0}.view-item-block.categories .content-list{margin-top:0}